/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font), monospace;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--main-bg-color);
  /* 3. Задайте для .page фоновое изображение. Путь до фоновой картинки так же можно вынести в переменную */
  background-image: var(--cover-image);
  /* 3. Расположите фоновое изображение по центру. Пусть оно закрывает собой всего родителя. */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 3. После этого пропишите background-attachment: fixed;, чтобы фон оставался на месте при прокрутке страницы. */
  background-attachment: fixed;
}

/* header */
.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--padding);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

/* 5. Работа над кнопками переключения тем */
.header__theme-menu-button {
  appearance: none;
  display: block;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  color: var(--menu-text-color);
  font-size: 18px;
  line-height: 105%;
  padding: 0.17em 13px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}
/* /5. Работа над кнопками переключения тем */

.title {
  /* 3. Чтобы заголовок в шапке красиво адаптировался и при этом хорошо выглядел на больших и маленьких экранах, используйте clamp(). */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--focus-color);
}

.header__title {
  /* 3. У текста в заголовке задана тень */
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.title-decor {
  /* 3. Параграфу в шапке задан фоновый цвет. Такой же декоративный приём встречается в основном блоке сайта. Используйте отдельный класс title-decor  */
  font-size: 18px;
  font-weight: 700;
  color: var(--title-decor-text-color);
  line-height: 1.3;

  background-color: var(--title-decor-bg-color);
}

.rec {
  display: var(--rec-ico);
  position: absolute;

  font-size: 18px;
  color: var(--decor-color);

  inset-inline-end: 2.1em;
  inset-block-start: var(--padding);
}

/* 3. Точку справа от надписи реализуйте через псевдоэлемент */
.rec::after {
  content: '';
  position: absolute;

  inline-size: 10px;
  block-size: 10px;

  border-radius: 50%;

  background-color: var(--decor-color);

  inset-inline-start: 42px;
  inset-block-start: 7px;

  box-shadow: 0px 0px 8px var(--decor-color);
}

/* 3. В правом верхнем и нижнем левом углах есть декоративные уголки. Их можно реализовать при помощи псевдоэлементов и указания границ для двух сторон. */
.decorated-zone::before {
  content: '';
  position: absolute;

  inline-size: 25px;
  block-size: 25px;

  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);

  inset-inline-start: calc(100% - var(--padding) - 25px);
  inset-block-start: var(--padding);
 }

.decorated-zone::after {
  content: '';
  position: absolute;

  inline-size: 25px;
  block-size: 25px;

  border-left: 1px solid var(--decor-color);
  border-bottom: 1px solid var(--decor-color);

  inset-inline-start: var(--padding);
  inset-block-end: var(--padding);
} 

/* /header */
/* main */

.content {
  display: grid;
  grid-template-columns: 1fr;

  gap: 50px;

  margin-block-start: 40px;
  padding-inline: var(--padding);
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;

  gap: 20px;
}

.content__section h2 {
  color: var(--content-title-text-color);
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.card__list {
  display: grid;
  grid-template-columns: 1fr;

  gap: 20px;
}

.card__list-item {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.content__section-how-to-focus h4 {
  font-weight: 400;
}

.content__section-how-to-focus .card {
  gap: 20px;
}

.card-text {
  color: var(--text-color);
  font-size: 18px;
}

.card-text a {
  /* 3. В тексте встречаются ссылки. Им тоже задана тень. Возьмите значения для свойства text-shadow */
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

/* 3. Не забудьте про состояния ховера и фокуса для ссылок. */
.card-text a:hover {
  border-bottom: 1px solid currentColor;
}

.card-text a:focus {
  outline: none;
}

.card-text a:focus-visible {
  outline: 1px solid currentColor;
}

.content__section-collection {
	display: grid;

	gap: 10px;
}
 
.content__section-collection-item {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;

  object-fit: cover;
}


.footer {
  display: flex;
  position: relative;
  
  align-items: center;
  justify-content: center;

  min-block-size: 668px;
  block-size: 100vh;

  margin-block-start: 40px;
}

.footer_title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}


/* Создайте медиазапрос для расширения больше 780 пикселей. Он будет определять стили для экранов с шириной больше 780 пикселей. */
@media (width >= 768px) {
  .header {
    padding-left: 0;
  }

  .title {
    /* 3 Чтобы заголовок в шапке красиво адаптировался и при этом хорошо выглядел на больших и маленьких экранах, используйте clamp(). */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header__title-subtitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;

    padding-inline-start: var(--padding);
  }
 
  .header__title-subtitle .title-decor {
    grid-column: 2 / 3;
  }

  .rec {
    inset-inline-end: 48px;
    inset-block-start: var(--padding);
  }

  .content {
    gap: 80px;

    margin-block-start: 60px;
    padding-inline: var(--padding);
  }

 .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .content__section-reasons .card__list {
    grid-column: 1 / 4;
  }

  .content__section-collection {
	  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    
	  grid-auto-flow: dense;
	
    gap: 20px;
  }

  .content__section-collection-item:nth-child(1) {
    grid-column: span 3;
    grid-row: 1;
  }
  
  .content__section-collection-item:nth-child(2) {
    grid-column: span 2;
    grid-row: 2;
  }

  .content__section-collection-item:nth-child(3) {
    grid-column: 3;
    grid-row: 2/-2;
  }

  .content__section-collection-item:nth-child(4) {
    grid-column: 1;
    grid-row: 3/-1;
  }

  .content__section-collection-item:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }
  .content__section-collection-item:nth-child(6) {
    grid-column: 2/-1;
    grid-row: 4/-1;
  }
  .footer {
    margin-block-start: 60px;
  }
}

/* Создайте медиазапрос для расширения больше 1024 пикселей. Он будет определять стили для экранов с шириной больше 1024 пикселей. */
@media (width >= 1024px) {
  .header__theme-menu {
    margin-top: 0;
    padding-left: var(--padding);
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;

    gap: 10px;
  }

  .content__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section-hard-to-focus .card__list {
    grid-column: 2 / 4;
  }

  .content__section-reasons .card__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section-how-to-focus .card {
    grid-column: 2 / 4;
  }
  
}
