/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url(../images/cover-image-dark.png);
  
  --main-font-family: 'IBM Plex mono';
  

  --fuchsia:#DB00FF;
  --purple: #FF0070;
  --dark-blue: #000028;
  
  --pink: #FFC2E6;
  --light-lavender: #F1B2CE;
  --pink-lavander: #FFF1F7;
  --pink-purple: #FF8DCB;
  --dark: #353430;

  --purple-transparency:  rgb(255,0,112,0.4);
  --dark-transparency: rgb(0,0,40,0.4);

  --icon-visible: block;
  --icon-hidden: none;

  --main-bg-color: var(--dark-blue, #000028);
  --header-description-bg-color: var(--purple, #FF0070);
  --header-description-text-color: var(--dark-blue, #000028);
  --main-title-text-color: var(--purple, #FF0070);
  --decoration-color: var(--purple, #FF0070);
  --menu-text-color: var(--purple, #FF0070);
  --menu-border-color: var(--purple, #FF0070);
  --hover-border-color: var(--purple-transparency, rgb(255,0,112,0.4));
  --text-color: var(--light-lavender, #F1B2CE);
  --title-color: var(--fuchsia, #DB00FF);
  --shadow-color: var(--purple, #FF0070);
  --bg-image: url(../images/cover-image-dark.png);
}