/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --cover-image: url(../images/cover-image-dark.png);
  --rec-ico: var(--ico-display-default);
  --ico-display-default: block;
  --ico-display-hone: none;

  --dark: #353430;
  --dark-blue: #000028;
  --dark-transparency: rgb(0,0,40,0.4);
  
  --purple: #FF0070;
  --purple-transparency:  rgb(255,0,112,0.4);
  
  --pink: #FFC2E6;
  --pink-lavander: #FFF1F7;
  --pink-purple: #FF8DCB;

  --light-lavender: #F1B2CE;

  --fuchsia:#DB00FF;
  
  --main-bg-color: var(--dark-blue);
  --title-decor-text-color: var(--dark-blue);
  
  --focus-color: var(--fuchsia);
  --focus-color: var(--fuchsia);

  --title-decor-bg-color: var(--purple);
  --content-title-text-color: var(--purple);
  --decor-color: var(--purple);
  --menu-text-color: var(--purple);
  --shadow-color: var(--purple);

  --hover-border-color: var(--purple-transparency);

  --text-color: var(--light-lavender);
}